/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20/04/2019, 08:42:59 PM
    Author     : oscar-corzo
*/

.fila1{
    background: white;
}

.fila1-c1, .fila1-c2{
    text-align: center;
    font-weight: bold;
}

.fila1-c2{
    font-size: 18px;
    font-style: italic;
    position: relative;
    top:21px;
}

.campo{
    width: 100%;
}

.boton2{
    position: relative;
    right: 0px;
}
